<div>
    <form name="editForm" role="form">
        <legend>线路编辑</legend>
        <div class="form-group">
            <label for="name">名称</label>

            <input type="text" class="form-control" name="name" id="name" ng-model="vm.line.name">
        </div>
        <div class="form-group">
            <label for="cityname">城市</label>

            <input type="text" class="form-control" name="cityname" id="cityname" ng-model="vm.line.cityname">

        </div>
        <div class="form-group">
            <label for="openingtime">开通时间</label>
            <input type="text" class="form-control" name="openingtime" id="openingtime" ng-model="vm.line.openingtime">

        </div>
        <button class="btn btn-primary" ng-click="Save()">保存</button>
    </form>
</div>