<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <!--<link rel='stylesheet' href='/stylesheets/style.css'/>-->
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap-theme.min.css"/>
    <script type="text/javascript" src="/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="/angular/angular.js"></script>
    <script type="text/javascript" src="/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="/javascripts/app.js"></script>
</head>
<body ng-app="mainApp">
<nav class="navbar navbar-inverse" role="navigation">
    <div class="navbar-header">
        <a href="#" ui-sref=".index" class="navbar-brand">AngularUI Router</a>
    </div>
    <ul class="nav navbar-nav">
        <li><a>Home</a></li>
        <li><a>About</a></li>
        <li><a>Details</a></li>
        <li><a href="#" ui-sref=".lines/list">linelist</a></li>
        <li><a href="#" ui-sref=".lines/edit">lineedit</a></li>
    </ul>
</nav>
<div class="container">
    <div ui-view="">
    </div>
</div>
</body>
</html>
